@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0
}


header {
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background:#777;
    color:white;
    
}


header h1{
    padding:40px;
    font-size:100px;
}
header ul{
    display:flex;
    padding:10px;
    font-size:18px;
    font-weight:200;
    justify-content: center;
    list-style-type: none;
    border-bottom:0.1rem solid white;
    position: fixed;
    top: 0%;
    background: black;
    width: 100%;
    z-index: 1;
}
header li{
    margin:0px 40px;
}
header li a{
    text-decoration: none;
    color:white;
}
.container{
    text-align: center;
    
    
}

header .latest-album-btn{
    background-color: inherit;
    border:1px solid #56CCF2;
    font-size: 22px;
    font-weight: 175;
    color: white;
    padding: 15px 30px;
    margin: 10px auto;
    

}
header .play-btn{
    display: block;
    border-radius: 50%;
    padding: 1.5rem;
    background-color: inherit ;
    border:2px solid #56CCF2;
    font-size: 1.5rem;
    color: #56CCF2;
    font-weight: 200;
    margin: 10px auto;
}
.notNow{
    display: none;
}

#music-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
   padding: 20px 30px;
}
.album{
    margin:30px ;

}
.container h2{
    margin:20px
}

#music-content .img-container{
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 30px
}
#music-content .img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}


#music-content .prod-details{
    display: flex;
    margin:8px;
    align-items: center;
    justify-content: space-between;
}


#merch-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
   padding: 20px 30px;
}
.merch{
    margin:30px;
}

#merch-content .img-container{
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin:30px
}
#merch-content .img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}


#merch-content .prod-details{
    display: flex;
    margin:8px;
    align-items: center;
    justify-content: space-between;
}

.btn-cart{
    padding:8px;
    background-color: #56CCF2;
    color:white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.cart-btn-bottom{
    background-color: rgb(1, 10, 9,0.5);
    font-size:1rem;
    padding:20px;
    border-radius: 7px;
    color:#56CCF2;;
    border:none;
    font-weight: 700;
}
#cart .container{
    position: relative;
    margin:10px;
}

footer{
    background-color: #56CCF2;
    display: flex;
    width:100%;
    margin-top:40px;
    padding: 20px;
    

}

.footer-title{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
    width:50%;
    margin:0 auto;
    
}
.footer-icons img{
    width:30px
}
.footer-icons ul{
    display: flex;
    list-style-type: none;
}

.footer-icons li{
    padding:10px;
    margin:0px 20px;
}   

footer .footer-icons{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.tours {
    text-align: center;
    margin:0px auto;
    padding: 20px 30px;
    max-width: 900px;
}

.tours h2{
    padding: 20px;
    font-size: 30px;
    font-family: "Metal Mania";
    font-weight: bold;
}

.tour-item{
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid ;
}

.tour-date{ 
    width:12%;

}
.tour-city{
    width: 25%;
    color: #777;
}
.tour-venue{
    width: 53%;
    color:#777;
}

.buy-tickets-btn{
    width:20%;
    background-color:#56ccf2;
    font-size: 14px;
    /* padding: 2px 15px; */
    border-radius: 5px;
    font-weight:700;
    color: white;
    border: none;
    padding: 7px;

}

.about-container{
    font-size: 22px;
    padding:20px 30px;
    margin:0px auto;
    max-width: 900px;
}
.about-container h2{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-family: "Metal Mania";
    font-weight: bold;
}
.about-items{
    /* display: flex; */
    
}

.about-items img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    /* padding: 30px; */
    margin-right:20px ;
    
}
.about-items p{
    font-size:17px;
    margin:20px;
    color:#777;
}

#cartTab{
    
    margin:0px;
    position:fixed;
    right:0;
    top:50px;
    background-color: rgb(255,255,255);
    width:30%;
    border: 1px solid rgb(177,103,103);
    min-height:50vh;
     max-width:900px;
    padding:20px 30px;
}

#cartTab h2{
    /* margin-top:20px;  */
    /* padding:20px; */
    margin:20px 0px;
    padding:0;
    font-family: "Metal Mania";
    font-size: 30px;
}
.cart-header{
    font-size: 1.2rem;
    font-weight: bold;
}
.cart-row {
    display:flex;
    /* justify-content: space-around; */
    font-size: 18px;
    
}

.cart-item{
    width:45%
}

.cart-item img{
    /* object-fit: cover;
    height: 80px; */
    width:80px;
    margin-right: 20px;
    border-radius: 8%;
}

.cart-price{
    width:20%
}
.cart-quantity{
    width:35%
}


.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-quantity #quant{
    width:40px;
    height: 30px;
    border: 1px solid rgb(0, 204, 255);
    border-radius: 8%;
    outline: none;
    text-align: center;
    margin-right: 20px;
}

.cart-quantity  .remove-btn{
    color: white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border: none;
    border-radius: 8%;
    height: 30px;
    outline: none;
    padding: 0px 7px;
}
.cart-quantity button:hover{
    background: rgb(218, 37, 37);;
}
.cart-total{
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2rem;
    margin:20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size:1.5rem;
}

.purchase-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
    background: #56CCF2;
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    border:none;
    border-radius:8%;
    padding:12px;
    cursor: pointer;
}
.purchase-btn:hover{
    background-color:#18acdd;
}

.cancel{
    position:absolute;
    cursor:pointer;
    color:rgb(121, 117, 117);
    top:0;
    right:0;
    margin:20px;
    background:none;
    font-size:16px;
    font-weight: 700;
    border:1px solid rgb(121, 117, 117);
    border-radius:7px;
    padding:5px;
}


.page-btn-section{
    text-align: center;
    margin-top:20px;
    padding:10px;
}
.page-btn-section .page-btn{
    margin:5px;
    padding:10px;
    font-size: 12px;
    font-weight: bold;
    border: #18acdd;
}

.page-btn:hover{
    background-color: #18acdd;
    color: white;
    cursor: pointer;
}